html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, 
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thread, tr, th, td, article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section, summary, time, 
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align:baseline;
	background: transparent;
}

body {
    font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    background-color: #1c2923;
	-webkit-text-size-adjust: none;
}

nav {
	display: block;
	clear: right;
}
/*all div descendants of element with id "pages"*/
#pages div {
	display: none;
}
#pages div.current {
	display: block;
}
#pages {
	z-index:-1; /* to keep it below navigation buttons*/
}
/*
#pages > div {
	display: none;
}
*/
/*Only show div with class="current"*/
/*
#pages > div.current {
	display: block;
}
*/
#pages {
	position:absolute;
	top: 8.55em; /* to start BELOW top navigation bar */
	width: 100%;
	padding-bottom: 8.55em; /* so content is not hidden by bottom navigation bar */
}

/*  ---------------------------------------------  */
/*  ---------------   TAXA LIST   ---------------  */
/*  ---------------------------------------------  */
#taxa-list {
	background: #375045;
	font-size: 3.1em; /*1.285em*/
}

#taxa-list li {
	border-top: 1px #4e7665 solid;
	border-bottom: 1px #22322b solid;
	position: relative;
}

#taxa-list .even {
	background: #446b5a;
}

#taxa-list a {
	display: block;
/*	padding: 0.5em 0.785em 0.714em;*/
	padding: 1.1em 0.785em;
	position: relative;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
}

#taxa-list h2 {
	color: #ffffff;
	width: 82%;
/*	font-size: 3.1em; /*1.285em*/
	text-overflow: ellipsis; /*May need to do more styling to get this to work*/
	overflow: hidden;
}

/*A little square where we put an advance arrow, >, for now, anyways...*/
#taxa-list .advance {
	background: #1c2923;
	border: 1px #4e7665 solid;
	-webkit-border-radius: 0.143em;
	-moz-border-radius: 0.143em;
	border-radius: 0.143em;
	color: #d2ddcf;
	font-weight: bold;
	position: absolute;
	padding: 0.214em 0.429em;
	right: 1.5em; /*2.5em*/
	top: 50%;
	margin-top: -0.8em; /* to vertically center */
}

/*  ---------------------------------------------  */
/*  ---------   TOP NAVIGATION BUTTONS   --------  */
/*  ---------------------------------------------  */
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1c2923;
}

#top-bar {
	width: 100%;
	display: block;
	clear: both;
	font-size: 3.1em; /*1.1em*/
	font-weight: bold;
}
#top-bar-list {
	position: relative;
}
#top-bar-list li {
	display: inline;
	float: left;
}
#top-bar-list li.top-button {
	width: 25%;
	background-color: #cdcdcd; /*grey*/
}
#top-bar-list li.hide {
	width: 0;
	padding: 0;
}
#top-bar-list li.show {
	width: 25%;
	display: inline;
}
#content-title-item {/* a li element*/
	width: 100%;
}
#top-bar-list li.fifty {
	width: 50%;
}
#top-bar-list a {
	color: #1c2923;
	background-color: #cdcdcd;
	display: block;
/*	padding: 0.9em 0.785em 0.714em;*/
/*	padding: 0.8em 0.785em;*/
	padding: 0.8em 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
#top-bar h2 {
	text-align: center;
}
#content-title {
	color: #ffffff; /* white */
/*	font-size: 1.05em; /* a little larger than button font */
/*	padding: 0.5em 0.785em 0.714em;*/
	font-size: 1.2em;
	padding: 0.57em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}

/*  ---------------------------------------------  */
/*  -------   BOTTOM NAVIGATION BUTTONS   -------  */
/*  ---------------------------------------------  */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #1c2923;
}
#bottom-bar {
	width: 100%;
	display: block;
	clear: both;
	font-size: 2.8em;
	font-weight: bold;
}
#bottom-bar-list {
	position: relative;
}
#bottom-bar-list li {
	display: inline;
	width: 50%;
	float: left;
	background-color: #cdcdcd; /*grey*/
}
#bottom-bar-list a {
	color: #1c2923;
	background-color: #cdcdcd;
	display: block;
	padding: 0.9em 0.785em 0.714em;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
#bottom-bar h2 {
	text-align: center;
}

/*  ---------------------------------------------  */
/*  --------------   TAXON PAGES   --------------  */
/*  ---------------------------------------------  */
.taxon-title {
	color: white;
	font-size: 3.1em;
	width: 82%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 1em 0 1em;
}

.taxon-data-text {
	color: white;
	font-size: 2.4em;
}

.taxon-data-title {
	color: white;
	font-size: 2.4em;
	font-weight: bold;
}



